<a href="https://colab.research.google.com/github/E-SaiAnurath/CSBTB29/blob/main/Aiml_lab3_160824.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
data = pd.read_excel("/content/Excel_Aiml_lab_160824.xlsx")
print(data)

    SID   Student Name  Course  Contact number  Admit Year      Roll No  Year  \
0     1   A.Ram Charan  B.Tech      8006991370        2023   2303A51091     2
1     2    P.Sushwanth  B.Tech      9548623578        2023   2303A51567     2
2     3        L.Vivek  B.Tech      7845963244        2023   2303A51498     2
3     4        R.Shiva  B.Tech      8996547236        2023   2303A54897     2
4     5  S.pranava Sai  B.Tech      7859632458        2023   2303A51988     2
5     6       P.Lalith  B.Tech      8569742136        2023   2303A54917     2
6     7          D.SAI  B.Tech      7895641235        2023   2303A54925     2
7     8   H.Hanumanthu  B.Tech      5478963214        2023   2303A54936     2
8     9      K.shankar  B.Tech      8885596326        2023   2303A54948     2
9    10        p.ravan  B.Tech      7458963214        2023   2303A54949     2
10   11       g.mahesh  B.Tech      9988774455        2023   2303A54950     2
11   12         c.rupa    P.hd      7845936245        2023   2303A54951     2
12   13     v.hruthika    P.hd      8745963245        2023   2303A54952     2
13   14      s.spurthi    P.hd     45896321548        2023   2303A54953     2
14   15        A.Rohit  M.Tech     75896324589        2023   2303A54954     2
15   16     A.Ramaraju  M.Tech      8965147236        2023   2303A54955     2
16   17     H.Praneeth  M.Tech     48593265748        2023  2303A515478     2
17   18  E.Sai Anurath  M.Tech      8885299732        2023   2303A51560     2
18   19       f.farhan  M.Tech      7859463158        2023  2303A515480     2
19   20      h.Snuhith  M.Tech      8745963258        2023  2303A515481     2

    Semister Branch  Unnamed: 9   Y
0          1    CSE         NaN NaN
1          1    CSE         NaN NaN
2          1    CSE         NaN NaN
3          1    CSE         NaN NaN
4          1    CSE         NaN NaN
5          1    CSE         NaN NaN
6          1    CSE         NaN NaN
7          1    CSE         NaN NaN
8          1    CSE         NaN NaN
9          1    CSE         NaN NaN
10         1    CSE         NaN NaN
11         1    ECE         NaN NaN
12         1    ECE         NaN NaN
13         1    ECE         NaN NaN
14         1   Aiml         NaN NaN
15         1   Aiml         NaN NaN
16         1   Aiml         NaN NaN
17         1   Aiml         NaN NaN
18         1   Aiml         NaN NaN
19         1   Aiml         NaN NaN

In [9]:
import pandas as pd
data = pd.read_csv("/content/Excel_Aiml_lab_160824.csv")
print(data)

    SID   Student Name  Course  Contact number  Admit Year      Roll No  Year  \
0     1   A.Ram Charan  B.Tech      8006991370        2023   2303A51091     2
1     2    P.Sushwanth  B.Tech      9548623578        2023   2303A51567     2
2     3        L.Vivek  B.Tech      7845963244        2023   2303A51498     2
3     4        R.Shiva  B.Tech      8996547236        2023   2303A54897     2
4     5  S.pranava Sai  B.Tech      7859632458        2023   2303A51988     2
5     6       P.Lalith  B.Tech      8569742136        2023   2303A54917     2
6     7          D.SAI  B.Tech      7895641235        2023   2303A54925     2
7     8   H.Hanumanthu  B.Tech      5478963214        2023   2303A54936     2
8     9      K.shankar  B.Tech      8885596326        2023   2303A54948     2
9    10        p.ravan  B.Tech      7458963214        2023   2303A54949     2
10   11       g.mahesh  B.Tech      9988774455        2023   2303A54950     2
11   12         c.rupa    P.hd      7845936245        2023   2303A54951     2
12   13     v.hruthika    P.hd      8745963245        2023   2303A54952     2
13   14      s.spurthi    P.hd     45896321548        2023   2303A54953     2
14   15        A.Rohit  M.Tech     75896324589        2023   2303A54954     2
15   16     A.Ramaraju  M.Tech      8965147236        2023   2303A54955     2
16   17     H.Praneeth  M.Tech     48593265748        2023  2303A515478     2
17   18  E.Sai Anurath  M.Tech      8885299732        2023   2303A51560     2
18   19       f.farhan  M.Tech      7859463158        2023  2303A515480     2
19   20      h.Snuhith  M.Tech      8745963258        2023  2303A515481     2

    Semister Branch  Unnamed: 9   Y
0          1    CSE         NaN NaN
1          1    CSE         NaN NaN
2          1    CSE         NaN NaN
3          1    CSE         NaN NaN
4          1    CSE         NaN NaN
5          1    CSE         NaN NaN
6          1    CSE         NaN NaN
7          1    CSE         NaN NaN
8          1    CSE         NaN NaN
9          1    CSE         NaN NaN
10         1    CSE         NaN NaN
11         1    ECE         NaN NaN
12         1    ECE         NaN NaN
13         1    ECE         NaN NaN
14         1   Aiml         NaN NaN
15         1   Aiml         NaN NaN
16         1   Aiml         NaN NaN
17         1   Aiml         NaN NaN
18         1   Aiml         NaN NaN
19         1   Aiml         NaN NaN

In [10]:
import pandas as pd
data = pd.read_csv("/content/heart.csv")
print(data)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal  target
0         2   2     3       0
1         0   0     3       0
2         0   0     3       0
3         2   1     3       0
4         1   3     2       0
...     ...  ..   ...     ...
1020      2   0     2       1
1021      1   1     3       0
1022      1   1     2       0
1023      2   0     2       1
1024      1   1     3       0

[1025 rows x 14 columns]

In [12]:
import pandas as pd
data = pd.read_table("/content/Aiml_lab_160824.txt")
print(data)

    SID   Student Name  Course  Contact number  Admit Year      Roll No  Year  \
0     1   A.Ram Charan  B.Tech      8006991370        2023   2303A51091     2
1     2    P.Sushwanth  B.Tech      9548623578        2023   2303A51567     2
2     3        L.Vivek  B.Tech      7845963244        2023   2303A51498     2
3     4        R.Shiva  B.Tech      8996547236        2023   2303A54897     2
4     5  S.pranava Sai  B.Tech      7859632458        2023   2303A51988     2
5     6       P.Lalith  B.Tech      8569742136        2023   2303A54917     2
6     7          D.SAI  B.Tech      7895641235        2023   2303A54925     2
7     8   H.Hanumanthu  B.Tech      5478963214        2023   2303A54936     2
8     9      K.shankar  B.Tech      8885596326        2023   2303A54948     2
9    10        p.ravan  B.Tech      7458963214        2023   2303A54949     2
10   11       g.mahesh  B.Tech      9988774455        2023   2303A54950     2
11   12         c.rupa    P.hd      7845936245        2023   2303A54951     2
12   13     v.hruthika    P.hd      8745963245        2023   2303A54952     2
13   14      s.spurthi    P.hd     45896321548        2023   2303A54953     2
14   15        A.Rohit  M.Tech     75896324589        2023   2303A54954     2
15   16     A.Ramaraju  M.Tech      8965147236        2023   2303A54955     2
16   17     H.Praneeth  M.Tech     48593265748        2023  2303A515478     2
17   18  E.Sai Anurath  M.Tech      8885299732        2023   2303A51560     2
18   19       f.farhan  M.Tech      7859463158        2023  2303A515480     2
19   20      h.Snuhith  M.Tech      8745963258        2023  2303A515481     2

    Semister Branch
0          1    CSE
1          1    CSE
2          1    CSE
3          1    CSE
4          1    CSE
5          1    CSE
6          1    CSE
7          1    CSE
8          1    CSE
9          1    CSE
10         1    CSE
11         1    ECE
12         1    ECE
13         1    ECE
14         1   Aiml
15         1   Aiml
16         1   Aiml
17         1   Aiml
18         1   Aiml
19         1   Aiml

In [13]:
import pandas as pd
data = pd.read_csv("/content/games_dataset.csv")
print(data)

                                    Game Name       Genre         Platform  \
0                   Sekiro: Shadows Die Twice      Sports  Nintendo Switch
1                                     Control      Puzzle  Nintendo Switch
2                                    Among Us    Strategy  Nintendo Switch
3                Call of Duty: Modern Warfare     Stealth      PlayStation
4                           League of Legends  Simulation               PC
...                                       ...         ...              ...
4995  The Legend of Zelda: Breath of the Wild      Sports               PC
4996                Assassin's Creed Valhalla     Stealth           Mobile
4997             Fall Guys: Ultimate Knockout      Sports           Mobile
4998                            Borderlands 3  Platformer             Xbox
4999         Counter-Strike: Global Offensive      Action      PlayStation

      Release Year  User Rating
0             2014     9.654719
1             2000     3.457386
2             2007     5.367622
3             2005     1.240325
4             2021     3.535476
...            ...          ...
4995          2013     6.352838
4996          2020     1.852730
4997          2021     5.268067
4998          2018     4.558510
4999          2022     3.443231

[5000 rows x 5 columns]