<a href="https://colab.research.google.com/github/E-SaiAnurath/CSBTB29/blob/main/Listtypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ‚ÄùAddition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [14]:
import numpy as lst

In [15]:

lst1=(2,4,6,8,10)
print(lst1)
print(type(lst1))

(2, 4, 6, 8, 10)
<class 'tuple'>

In [16]:
lst2={4:5,8:9,7:6,85:58}
print(lst2)
print(type(lst2))

{4: 5, 8: 9, 7: 6, 85: 58}
<class 'dict'>

In [17]:
lst3=[8,16,24,32,40]
print(lst3)
print(type(lst3))

[8, 16, 24, 32, 40]
<class 'list'>

In [18]:
lst4={1,"America",2,"united Kingdom",3,"Germany"}
print(lst4)
print(type(lst4))

{1, 2, 3, 'Germany', 'united Kingdom', 'America'}
<class 'set'>

In [19]:
lst5="Welcome to the world of Aritificial Intelligence and machine learning"
print(lst5)
print(type(lst5))

Welcome to the world of Aritificial Intelligence and machine learning
<class 'str'>

In [20]:
lst6=3.147654321
print(lst6)
print(type(lst6))

3.147654321
<class 'float'>

In [21]:
lst7 = 6+7j+8
print(lst7)
print(type(lst7))

(14+7j)
<class 'complex'>